<h3>Shop</h3>
<div class="row">
	<div class="col-md-6">
		<div class="row">
			<label class="col-md-4 text-right">Categoria:</label>
			<div class="col-md-8">
				<select class="form-control" ng-model="sel.categid">
					<option value="">&lt;tutte&gt;</option>
					<option ng-repeat="c in categories" value="{{c.categid}}">{{c.categdescr}}</option>
				</select>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<label class="col-md-4 text-right">Ricerca:</label>
			<div class="col-md-8">
				<div class="input-group">
					<input class="form-control" type="search" id="searchinput" ng-model="sel.proddescr" />
					<span ng-click="sel.proddescr=''" class="input-group-addon glyphicon glyphicon-remove-circle"></span>
				</div>
			</div>
		</div>
		<div class="row">&nbsp;</div>
		<h3>Cart</h3>
		<div class="row">
			Prodotti nel carrello: {{ncart}}<br />
			n.elementi: {{qtotcart}}<br />
			Totale: &euro; {{eurocart}}
		</div>
		<div class="row">&nbsp;</div>
		<div class="row"><a class="btn btn-primary" href="#/cart"><span class="glyphicon glyphicon-shopping-cart"></span> vai al carrello</a></div>
	</div>
	<div class="col-md-6">
		<table class="table table-striped">
			<tr dir-paginate="p in products | filter:sel:strict | itemsPerPage:itemsperpage"><td>{{p.proddescr}}</td><td class="text-right">{{p.prodcost | currency : '&euro; ' : 2}}</td><td class="text-center"><button class="btn btn-primary" ng-click="addtocart(p.prodid,p.proddescr)"><span class="glyphicon glyphicon-plus"></span></button></td></tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-10">
		<div class="text-center"><dir-pagination-controls></dir-pagination-controls></div>
	</div>
	<div class="col-md-2">
		<select class="form-control" ng-model="itemsperpage" ng-init="itemsperpage=5">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="20">20</option>
		</select>
	</div>
</div>