<h3>Prodotti</h3>
<div class="row">
	<label class="col-lg-2 text-right">Categoria:</label>
	<div class="col-lg-4">
	<select class="form-control" ng-model="sel.categid">
		<option value="">&lt;tutte&gt;</option>
		<option ng-repeat="c in categories" value="{{c.categid}}">{{c.categdescr}}</option>
	</select>
	</div>
</div>
<div class="row">
	<label class="col-lg-2 text-right">Ricerca: </label>
	<div class="input-group col-lg-4">
		<input class="form-control" type="search" id="searchinput" ng-model="sel.proddescr" />
		<span ng-click="sel.proddescr=''" class="input-group-addon glyphicon glyphicon-remove-circle"></span>
	</div>
</div>
<div class="row">
	<div class="col-lg-8">
		<table class="table table-striped">
			<tr dir-paginate="p in products | filter:sel:strict | itemsPerPage:itemsperpage"><td>{{p.proddescr}}</td><td class="text-right">{{p.prodcost | currency : '&euro;' : 2}}</td></tr>
		</table>
	</div>
</div>
<dir-pagination-controls></dir-pagination-controls>
<input type="number" class="form-control" ng-model="itemsperpage" ng-init="itemsperpage=5" />
<div class="pull-right"><img src="img/store.jpg" alt="store" /></div>